Repository PMGH/evil-martians-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ]
}

Restyle and add Alps background image
  frontend/components/message-form/message-form.css
  frontend/components/message/message.css
  frontend/components/messages/messages.css
  frontend/init/index.css
  frontend/init/static/adventure-alps-background.jpg
Due: prettier --write, stylelint --fix

Use correct ActionCable authorization rejection method
  app/channels/application_cable/connection.rb
Due: none

Auth-form style using same main colour as other components
  frontend/components/auth-form/auth-form.css
Due: prettier --write, stylelint --fix

Add pry-byebug dependency
  Gemfile
  Gemfile.lock
Due: none

WIP - Add logout button
  app/controllers/auth_controller.rb
  app/views/layouts/application.html.erb
  config/routes.rb
  frontend/components/chat/chat.css
  frontend/components/logout/_logout.html.erb
  frontend/components/logout/logout.css
  frontend/components/logout/logout.js
  frontend/components/messages/messages.css
  frontend/packs/application.js
Due: prettier --write, eslint, stylelint --fix

Basic logout functionality
  app/controllers/auth_controller.rb
Due: none

Position logout button
  frontend/components/logout/logout.css
Due: prettier --write, stylelint --fix

Update readme with Procfile.dev
  README.md
Due: none

Update readme application description
  README.md
Due: none

Update readme
  README.md
Due: none
