Repository PMGH/evil-martians-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ]
}

Test linting
  frontend/packs/application.js
Due: prettier --write, eslint

Add prerequisites, getting started and linting to readme
  README.md
Due: none

Use component files
  frontend/components/page/_page.html.erb
  frontend/components/page/page.css
  frontend/components/page/page.js
  frontend/init/index.css
  frontend/init/index.js
  frontend/packs/application.css
  frontend/packs/application.js
Due: prettier --write, eslint, stylelint --fix

Import page component
  frontend/packs/application.js
Due: prettier --write, eslint

Render home view within page component
  app/views/pages/home.html.erb
  frontend/packs/application.js
Due: prettier --write, eslint

Add Overmind description
  README.md
Due: none

Reformat readme
  README.md
Due: none

Emphasis
  README.md
Due: none

Indent
  README.md
Due: none

Add git-pre-push dependency
  package.json
  yarn.lock
Due: none

Update readme with description
  README.md
Due: none

Include rails test prepush script
  package.json
Due: none

Updates readme with prepush
  README.md
Due: none

Update readme
  README.md
Due: none

Add component path helper
  app/helpers/application_helper.rb
Due: none

Used rubocop
  Gemfile
  Rakefile
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/application_controller.rb
  app/controllers/pages_controller.rb
  app/helpers/application_helper.rb
  app/jobs/application_job.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  bin/bundle
  bin/rails
  bin/rake
  bin/setup
  bin/spring
  bin/update
  bin/webpack
  bin/webpack-dev-server
  bin/yarn
  config.ru
  config/application.rb
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/application_controller_renderer.rb
  config/initializers/backtrace_silencers.rb
  config/initializers/content_security_policy.rb
  config/initializers/cookies_serializer.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/mime_types.rb
  config/initializers/wrap_parameters.rb
  config/puma.rb
  config/routes.rb
  config/spring.rb
  db/seeds.rb
  test/application_system_test_case.rb
  test/test_helper.rb
Due: none

Remove pages controller and views
  app/controllers/pages_controller.rb
  app/views/pages/home.html.erb
Due: none

Add auth and chat controllers
  app/controllers/auth_controller.rb
  app/controllers/chat_controller.rb
Due: none

Amend routes to include chat and login routes
  config/routes.rb
Due: none

Add very basic auth actions
  app/controllers/auth_controller.rb
Due: none

Add postcss-nested dependency
  .postcssrc.yml
  package.json
  yarn.lock
Due: none

Add login page with styling
  app/views/auth/new.html.erb
  frontend/components/auth-form/_auth-form.html.erb
  frontend/components/auth-form/auth-form.css
  frontend/components/auth-form/auth-form.js
  frontend/packs/application.js
Due: prettier --write, eslint, stylelint --fix

Add Message model and migrate db
  app/models/message.rb
  db/migrate/20180825152326_create_messages.rb
  db/schema.rb
Due: none

Render @messages as JSON with 200
  app/controllers/chat_controller.rb
Due: none

Remove render @messages as JSON
  app/controllers/chat_controller.rb
Due: none

ERB for @messages
  app/views/chat/show.html.erb
Due: none

Chat component
  frontend/components/chat/_chat.html.erb
  frontend/components/chat/chat.css
  frontend/components/chat/chat.js
  frontend/packs/application.js
Due: prettier --write, eslint, stylelint --fix

Message Form component
  frontend/components/message-form/_message-form.html.erb
  frontend/components/message-form/message-form.css
  frontend/components/message-form/message-form.js
Due: prettier --write, eslint, stylelint --fix

Messages component
  frontend/components/messages/_messages.html.erb
  frontend/components/messages/messages.css
  frontend/components/messages/messages.js
Due: prettier --write, eslint, stylelint --fix

Message component
  frontend/components/message/_message.html.erb
  frontend/components/message/message.css
  frontend/components/message/message.js
Due: prettier --write, eslint, stylelint --fix

Add component generator
  lib/generators/component_generator.rb
Due: none

Add actioncable dependency
  package.json
  yarn.lock
Due: none

Use ActionCable to listen for message events and display them
  app/channels/application_cable/connection.rb
  app/channels/chat_channel.rb
  frontend/client/cable.js
  frontend/client/chat.js
  frontend/components/message-form/message-form.js
  frontend/components/messages/messages.js
Due: prettier --write, eslint

Add dev version of Procfile
  Procfile
  Procfile.dev
Due: none

Heroku production
  Gemfile
  Gemfile.lock
  Rakefile
  config/cable.yml
  config/environments/production.rb
Due: none

Fix message formatting
  frontend/components/message/_message.html.erb
Due: none

Add config.secret_key_base to production
  config/environments/production.rb
Due: none

Add title
  frontend/components/chat/_chat.html.erb
  frontend/components/chat/chat.css
Due: prettier --write, stylelint --fix

Remove prefix spaces from input
  frontend/components/message-form/_message-form.html.erb
Due: none
